<div class="forgot-password">
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="statusButton == 1 || statusButton == 3">
    </mat-progress-bar>
    <h4>Lấy lại mật khẩu</h4>
    <form [formGroup]="emailphoneForm" class="form form--step-1">
        <mat-form-field appearance="legacy">
            <mat-label>Email hoặc số điện thoại</mat-label>
            <input matInput formControlName="emailphone" autocomplete="username email">
            <mat-error *ngIf="emailphoneForm.controls.emailphone.errors?.required">Không được bỏ trống</mat-error>
            <mat-error *ngIf="emailphoneForm.controls.emailphone.errors?.email">Email không đúng định dạng
            </mat-error>
        </mat-form-field>
    </form>
    <form [formGroup]="pwForm" class="form form--step-2" *ngIf="statusButton == 6">
        <input style="display: none;" autocomplete="username">
        <mat-form-field appearance="legacy">
            <mat-label>Mật khẩu</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                autocomplete="current-password">
            <mat-error *ngIf="pwForm.controls.username.errors?.required">Mật khẩu không được bỏ trống
            </mat-error>
            <mat-error *ngIf="pwForm.controls.username.errors?.maxLength">Mật khẩu phải từ 8 đến 16 ký tự
            </mat-error>
            <mat-error *ngIf="pwForm.controls.username.errors?.minLength">Mật khẩu phải từ 8 đến 16 ký tự
            </mat-error>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Nhập lại mật khẩu</mat-label>
            <mat-error *ngIf="pwForm.controls.cfPassword.errors?.ispass">Không trùng mật khẩu</mat-error>
            <input matInput [type]="rHidePassword ? 'password' : 'text'" formControlName="cfPassword"
                autocomplete="new-password">
            <button mat-icon-button matSuffix (click)="rHidePassword = !rHidePassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="rHidePassword">
                <mat-icon>{{rHidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <button type="button" mat-flat-button color="primary" (click)='onClickMain()' [disabled]="statusButton == 1"
        *ngIf="statusButton == 0 || statusButton == 1 || statusButton == 4 || statusButton == 6">
        <span *ngIf="statusButton !== 4;else icon">{{textButton}}</span>
        <ng-template #icon>
            <mat-icon>check_circle</mat-icon>
        </ng-template>
    </button>
    <div class="verify" *ngIf="statusButton == 2 || statusButton == 3 || statusButton == 5">
        <p>* Mã OTP đã được gửi vào email của bạn</p>
        <p>* Vui lòng nhập mã OTP</p>
        <div>
            <form [formGroup]="verifyForm">
                <input formControlName="number1" #verifyInput1 class="verify__input" type="n" maxLength="1" size="1"
                    (keypress)="verifyInput2.focus()" (click)="verifyInput1.value = ''">
                <input formControlName="number2" #verifyInput2 class="verify__input" type="text" maxLength="1" size="1"
                    (keypress)="verifyInput3.focus()" (click)="verifyInput2.value = ''">
                <input formControlName="number3" #verifyInput3 class="verify__input" type="text" maxLength="1" size="1"
                    (keypress)="verifyInput4.focus()" (click)="verifyInput3.value = ''">
                <input formControlName="number4" #verifyInput4 class="verify__input" type="text" maxLength="1" size="1"
                    (keypress)="verifyInput5.focus()" (click)="verifyInput4.value = ''">
                <input formControlName="number5" #verifyInput5 class="verify__input" type="text" maxLength="1" size="1"
                    (keypress)="verifyInput6.focus()" (click)="verifyInput5.value = ''">
                <input formControlName="number6" #verifyInput6 class="verify__input" type="text" maxLength="1" size="1"
                    (click)="verifyInput6.value = ''">
            </form>
            <button type="button" mat-flat-button color="primary" class="verify__button sign-in-button"
                (click)='onClickVerify()' [disabled]="statusButton == 3">
                <span *ngIf="statusButton !== 5;else icon">{{textButton}}</span>
                <ng-template #icon>
                    <mat-icon>check_circle</mat-icon>
                </ng-template>
            </button>
        </div>
    </div>
    <div class="link-box">
        <div>
            <p>Chưa có tài khoản ?</p>
            <a routerLink="/welcome/acc/sign-up">Đăng kí</a>
        </div>
        <div>
            <p>Đã có tài khoản ?</p>
            <a routerLink="/welcome/acc/sign-in">Đăng nhập</a>
        </div>
    </div>
</div>