<div class="top-album-music">
    <h5>Có thể bạn quan tâm</h5>
    <div class="top-album-music__list">
        <ng-container *ngIf="loaded$| async; else skeleton">
            <app-top-album-item-music *ngFor="let album of topAlbums$ | async" [album]="album">
            </app-top-album-item-music>
        </ng-container>
        <ng-template #skeleton>
            <app-skeleton-album-music></app-skeleton-album-music>
            <app-skeleton-album-music></app-skeleton-album-music>
            <app-skeleton-album-music></app-skeleton-album-music>
        </ng-template>
    </div>
</div>