<mat-nav-list>
    <h3 matSubheader>Chọn thư mục:</h3>
    <a mat-list-item (click)="onPickUpFolder($event)">
        <mat-icon mat-list-icon>folder</mat-icon>
        <span mat-line>Gia đình.</span>
        <span mat-line>Lưu những bài viết gia đình</span>
    </a>
    <a mat-list-item (click)="onPickUpFolder($event)">
        <mat-icon mat-list-icon>folder</mat-icon>
        <span mat-line>Coder</span>
        <span mat-line>Lưu những bài viết về lập trình.</span>
    </a>
    <a mat-list-item (click)="onPickUpFolder($event)">
        <mat-icon mat-list-icon>folder</mat-icon>
        <span mat-line>Bí kíp sống</span>
        <span mat-line>Lưu những bài viết về phong cách sống</span>
    </a>
</mat-nav-list>