<div class="request-box">
    <div class="request-box__title">
        <h6>Lời mời kết bạn</h6>
        <button mat-icon-button (click)="onCloseBox()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="request-box__list">
        <div class="request-box__item">
            <div class="avt">
            </div>
            <div class="content">
                <p><a href=""><i>Tiến Đạt</i></a> đã gửi lời mời kết bạn</p>
                <div class="feature">
                    <button mat-button>
                        <small>Chấp nhận</small>
                    </button>
                    <button mat-button>
                        <small>Từ chối</small>
                    </button>
                </div>
            </div>
        </div>
        <div class="request-box__item">
            <div class="avt">
            </div>
            <div class="content">
                <p><a href=""><i>Nguyễn Văn Huy</i></a> đã gửi lời mời kết bạn</p>
                <div class="feature">
                    <button mat-button>
                        <p><small>Chấp nhận</small></p>
                    </button>
                    <button mat-button>
                        <p><small>Từ chối</small></p>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="request-box__see-all">
        <a href="">Xem tất cả</a>
    </div>
</div>