.menu {
    height: 100%;
    width: 80px;
    background-color: var(--color-background-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    &__logo{
        width: 50px;
        height: 50px;
        background-image: url('../../../../assets/logo/hhtech.png');
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0.7;
    }
    &__item {
        background-color: var(--color-background-secondary);
        border-radius: 50%;
        color: var(--color-opacity-primary);
        margin: 10px 0;
        transition: all 0.4s;

        &:focus {
            outline: none;
        }

        &:hover:not(&--active) {
            color: var(--color-primary-500);
        }

        &--active {
            color: var(--color-primary-contrast-500);
            background-color: var(--color-primary-500);
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        }
    }
}