<div class="about">
    <button mat-button [routerLink]="['/home/personal/user/about/overview']" routerLinkActive="active" >Tổng quan</button>
    <button mat-button [routerLink]="['/home/personal/user/about/basic']" routerLinkActive="active">Thông tin cơ bản</button>
    <button mat-button [routerLink]="['/home/personal/user/about/work']" routerLinkActive="active">Công việc</button>
    <button mat-button [routerLink]="['/home/personal/user/about/study']" routerLinkActive="active">Học vấn</button>
    <button mat-button [routerLink]="['/home/personal/user/about/live']" routerLinkActive="active">Nơi đã sống</button>
    <button mat-button [routerLink]="['/home/personal/user/about/social']" routerLinkActive="active">Liên kết</button>
</div>
<router-outlet></router-outlet>
