<div class="birth-day-notication">
    <div class="birth-day-notication__title">
        <h6>Sinh nhật</h6>
    </div>
    <div class="birth-day-notication__item">
        <button mat-mini-fab color="primary">
            <mat-icon>cake</mat-icon>
        </button>
        <span>Có <b>7</b> người sinh nhật trong tháng này.</span>
    </div>
    <div class="birth-day-notication__item">
        <button mat-mini-fab color="primary">
            <mat-icon>card_giftcard</mat-icon>
        </button>
        <span>Có <b>2</b> người sinh nhật trong hôm nay.</span>
    </div>
</div>