<div class="profile-about">
    <button mat-button [routerLink]="['./basic']" routerLinkActive="active">Thông tin cơ bản</button>
    <button mat-button [routerLink]="['./work']" routerLinkActive="active">Công việc</button>
    <button mat-button [routerLink]="['./study']" routerLinkActive="active">Học vấn</button>
    <button mat-button [routerLink]="['./live']" routerLinkActive="active">Nơi đã sống</button>
    <button mat-button [routerLink]="['./social']" routerLinkActive="active">Liên kết</button>
</div>
<router-outlet></router-outlet>