<div class="friend-online">
    <div class="friend-online__title">
        <h6>Liên hệ thường xuyên</h6>
    </div>
    <div class="friend-online__item">
        <div class="friend-online__avatar"></div>
        <p class="friend-online__name">Phạm Tiến Đạt</p>
        <div class="friend-online__dot"></div>
    </div>
    <div class="friend-online__item">
        <div class="friend-online__avatar"></div>
        <p class="friend-online__name">Nguyễn Hữu Nghĩa...</p>
        <div class="friend-online__dot"></div>
    </div>
    <div class="friend-online__item">
        <div class="friend-online__avatar"></div>
        <p class="friend-online__name">Phạm Tiến Đạt</p>
        <div class="friend-online__dot"></div>
    </div>
</div>