<mat-expansion-panel [(expanded)]="isExpanded" class="mat-about-field">
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>
    <mat-expansion-panel-header collapsedHeight="85px" expandedHeight="85px">
        <mat-panel-title>
            <p>
                <mat-icon>wc</mat-icon>
            </p>
        </mat-panel-title>
        <mat-panel-description>
            <ng-container [ngSwitch]="gender.gender">
                <div *ngSwitchCase="true">
                    <p>Giới tính <a>Nam</a></p>
                </div>
                <div *ngSwitchCase="false">
                    <p>Giới tính <a>Nữ</a></p>
                </div>
                <div *ngSwitchDefault>
                    <p>Chưa xác định giới tính</p>
                </div>
            </ng-container>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <form>
        <div style="margin-bottom: 10px;">
            <label id="example-radio-group-label">Giới tính:</label>
            <mat-radio-group color="primary" aria-label="Select an option" [(ngModel)]="gender.gender"
                [ngModelOptions]="{standalone: true}" [disabled]="!isEnableForm">
                <mat-radio-button [value]="true">Nam</mat-radio-button>
                <mat-radio-button [value]="false">Nữ</mat-radio-button>
            </mat-radio-group>
        </div>
        <p><small>*Thông tin này luôn được công khai</small></p>
    </form>
    <div class="form-button">
        <button mat-mini-fab color="primary" aria-label="Edit" (click)="onClickEnableForm()" *ngIf="!isEnableForm">
            <mat-icon>create</mat-icon>
        </button>
        <button mat-mini-fab color="primary" aria-label="Edit" *ngIf="isEnableForm" (click)="onUpdateBirthday()" [disabled]="loading">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Cancel" (click)="onClickCancelForm()" *ngIf="isEnableForm" [disabled]="loading">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-expansion-panel>