<div class="noti-box">
    <div class="noti-box__title">
        <h6>Thông báo</h6>
        <button mat-icon-button (click)="onCloseBox()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="noti-box__list scroll-bar-custom">
        <div class="noti-box__item">
            <div class="avt">
            </div>
            <div class="content">
                <p><a href=""><i>Nghĩa Hiệp</i></a> nhắc đến bạn trong bài viết.</p>
                <p><small>Vừa xong</small></p>
            </div>
        </div>
    </div>
    <div class="noti-box__see-all">
        <a href="">Xem tất cả</a>
    </div>
</div>