<mat-nav-list>
    <h3 matSubheader>Vui lòng chọn vấn đề:</h3>
    <a mat-list-item (click)="onPickUpReport($event)">
        <mat-icon mat-list-icon>report_problem</mat-icon>
        <span mat-line>Ảnh khỏa thân</span>
        <span mat-line>Mô tả về báo cáo.</span>
    </a>
    <a mat-list-item (click)="onPickUpReport($event)">
        <mat-icon mat-list-icon>report_problem</mat-icon>
        <span mat-line>Bạo lực</span>
        <span mat-line>Mô tả về báo cáo.</span>
    </a>
    <a mat-list-item (click)="onPickUpReport($event)">
        <mat-icon mat-list-icon>report_problem</mat-icon>
        <span mat-line>Quấy rối</span>
        <span mat-line>Mô tả về báo cáo.</span>
    </a>
    <a mat-list-item (click)="onPickUpReport($event)">
        <mat-icon mat-list-icon>report_problem</mat-icon>
        <span mat-line>Tin giả</span>
        <span mat-line>Mô tả về báo cáo.</span>
    </a>
    <a mat-list-item (click)="onPickUpReport($event)">
        <mat-icon mat-list-icon>report_problem</mat-icon>
        <span mat-line>Spam</span>
        <span mat-line>Mô tả về báo cáo.</span>
    </a>
    <a mat-list-item (click)="onPickUpReport($event)">
        <mat-icon mat-list-icon>report_problem</mat-icon>
        <span mat-line>Bán hàng trái phép</span>
        <span mat-line>Mô tả về báo cáo.</span>
    </a>
</mat-nav-list>