<div class="about-tab">
    <h6>Giới thiệu</h6>
    <ng-container *ngIf="abouts$ | async as abouts;else skeleton">
        <div class="about-tab__item" *ngFor="let about of abouts">
            <button mat-icon-button color="primary">
                <mat-icon>{{about.icon}}</mat-icon>
            </button>
            <p>{{about.text}} <a>{{about.detail}}</a></p>
        </div>
    </ng-container>
    <ng-template #skeleton>
        <div class="about-tab__item skeleton"></div>
        <div class="about-tab__item skeleton"></div>
    </ng-template>
</div>