<div class="sign-up">
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="statusButton == 1 || statusButton == 3">
    </mat-progress-bar>
    <h4>Đăng ký</h4>
    <form [formGroup]="signUpForm">
        <mat-form-field appearance="legacy">
            <mat-label>Họ và tên lót</mat-label>
            <mat-error *ngIf="signUpForm.controls.firstName.errors?.required">Vui lòng nhập</mat-error>
            <input matInput formControlName="firstName" autocomplete="name">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Tên</mat-label>
            <mat-error *ngIf="signUpForm.controls.lastName.errors?.required">Vui lòng nhập</mat-error>
            <input matInput formControlName="lastName" autocomplete="name">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Email hoặc số điện thoại</mat-label>
            <mat-error *ngIf="signUpForm.controls.emailphone.errors?.required">Không được bỏ trống</mat-error>
            <mat-error *ngIf="signUpForm.controls.emailphone.errors?.rex">Không đúng định dạng</mat-error>
            <mat-error *ngIf="signUpForm.controls.emailphone.errors?.existed">Email hoặc số điện thoại đã tồn tại
            </mat-error>
            <input matInput formControlName="emailphone" autocomplete="username"
                (blur)="checkExistedAccountConnectAPI()">
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Mật khẩu</mat-label>
            <mat-error *ngIf="signUpForm.controls.password.errors?.required">Không được bỏ trống</mat-error>
            <mat-error *ngIf="signUpForm.controls.password.errors?.maxLength">Phải từ 6 đến 16 ký tự</mat-error>
            <mat-error *ngIf="signUpForm.controls.password.errors?.minLength">Phải từ 6 đến 16 ký tự</mat-error>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                autocomplete="current-password">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="legacy">
            <mat-label>Nhập lại mật khẩu</mat-label>
            <mat-error *ngIf="signUpForm.controls.cfPassword.errors?.ispass">Không trùng mật khẩu</mat-error>
            <input matInput [type]="hideCfPassword ? 'password' : 'text'" formControlName="cfPassword"
                autocomplete="new-password">
            <button mat-icon-button matSuffix (click)="hideCfPassword = !hideCfPassword"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideCfPassword">
                <mat-icon>{{hideCfPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="legacy" class="birthday">
            <mat-label>Ngày sinh</mat-label>
            <mat-error *ngIf="signUpForm.controls.dateOfBirth.errors?.isError">Vui lòng kiểm tra lại</mat-error>
            <app-birthday-input formControlName="dateOfBirth"></app-birthday-input>
        </mat-form-field>
        <div class="gender">
            <label id="example-radio-group-label" style="color: gray;">Giới tính:</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                formControlName="gender">
                <mat-radio-button color="primary" class="example-radio-button" value="1">
                    <p>Nam</p>
                </mat-radio-button>
                <mat-radio-button color="primary" class="example-radio-button" value="0">
                    <p>Nữ</p>
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <button type="button" mat-flat-button color="primary" (click)='onClickMain()' [disabled]="statusButton == 1"
            *ngIf="statusButton == 0 || statusButton == 1 || statusButton == 4">
            <span *ngIf="statusButton !== 4;else icon">{{textButton}}</span>
            <ng-template #icon>
                <mat-icon>check_circle</mat-icon>
            </ng-template>
        </button>
    </form>
    <div class="verify" *ngIf="statusButton == 2 || statusButton == 3 || statusButton == 5">
        <p>* Mã OTP đã được gửi vào email của bạn</p>
        <p>* Vui lòng nhập mã OTP để hoàn tất</p>
        <div>
            <form [formGroup]="verifyForm">
                <input formControlName="number1" #verifyInput1 class="verify__input" type="n" maxLength="1" size="1"
                    (keypress)="verifyInput2.focus()" (click)="verifyInput1.value = ''">
                <input formControlName="number2" #verifyInput2 class="verify__input" type="text" maxLength="1" size="1"
                    (keypress)="verifyInput3.focus()" (click)="verifyInput2.value = ''">
                <input formControlName="number3" #verifyInput3 class="verify__input" type="text" maxLength="1" size="1"
                    (keypress)="verifyInput4.focus()" (click)="verifyInput3.value = ''">
                <input formControlName="number4" #verifyInput4 class="verify__input" type="text" maxLength="1" size="1"
                    (keypress)="verifyInput5.focus()" (click)="verifyInput4.value = ''">
                <input formControlName="number5" #verifyInput5 class="verify__input" type="text" maxLength="1" size="1"
                    (keypress)="verifyInput6.focus()" (click)="verifyInput5.value = ''">
                <input formControlName="number6" #verifyInput6 class="verify__input" type="text" maxLength="1" size="1"
                    (click)="verifyInput6.value = ''">
            </form>
            <button type="button" mat-flat-button color="primary" class="verify__button sign-in-button"
                (click)='onClickVerify()' [disabled]="statusButton == 3">
                <span *ngIf="statusButton !== 5;else icon">{{textButton}}</span>
                <ng-template #icon>
                    <mat-icon>check_circle</mat-icon>
                </ng-template>
            </button>
        </div>
    </div>
    <div class="link-box">
        <p>Đã có tài khoản ? <a routerLink="/welcome/acc/sign-in">Đăng nhập</a></p>
        <a routerLink="/welcome/acc/forgot-password">Quên mật khẩu ?</a>
    </div>
</div>