.sign-in {
    height: 100%;
    width: 100%;
    padding: 20px 50px;
    position: relative;

    button {
        height: 40px;
    }

    mat-progress-bar {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
    }

    h4 {
        color: #3C5A99;
        font-weight: bold;
        text-align: center;
    }

    &>form {
        margin-top: 70px;

        .check-box-wrapper {
            margin-top: 20px;

            mat-checkbox {
                font-weight: lighter;
            }
        }

        &>button {
            width: 100%;
            margin: 80px 0;
        }
    }

    .verify {
        margin: 20px 0;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        padding: 20px 10px;
        background-color: var(--color-primary-500);
        color: var(--color-primary-contrast-500);

        &__input {
            margin: 5px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: none;
            background-color: white;
            color: black;
            font-weight: bold;
            text-align: center;
            transition: all 0.4s;

            &:focus {
                outline: none;
                box-shadow: var(--box-shadow-2);
            }
        }

        &__button {
            color: var(--color-primary-500);
            background-color: white;
            margin: auto;

            &:focus {
                outline: none;
            }
        }

        p {
            margin-top: 5px;
            color: white;
        }

        &>div {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            button {
                margin-top: 10px;
            }
        }
    }

    .link-box {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 500;

        p {
            margin: 0;
        }

        a {
            color: #3C5A99;
        }
    }
}

mat-form-field {
    width: 100%;
}