.dialog-upload-song-music {
    position: relative;

    mat-progress-bar {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
    }

    &__add {
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-background-third);

        &.disable {
            opacity: 0.5;
            pointer-events: none;
        }

        button {
            margin-right: 10px;
        }

        span {
            font-weight: 500;
        }
    }

    &__input {
        display: none;
    }

    &__preview {
        padding: 20px;
    }

    &__item-song {
        display: grid;
        grid-template-columns: 150px auto;
        gap: 10px;

        .image {
            height: 150px;
            width: 100%;
            position: relative;

            &:hover {
                button {
                    opacity: 1;
                }
            }

            img {
                border-radius: 50%;
            }

            button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: all 0.3s;
            }
        }

        .info {
            width: 100%;
        }
    }
}