.video {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div {
        display: flex;
        margin-bottom: 25px;
        color: var(--color-background-primary-contrast);
        justify-content: space-between;

        button {
            transition: all 0.4s;

            &:focus {
                outline: none;
            }

            &.active {
                background-color: var(--color-primary-500);
                color: var(--color-primary-contrast-500);
            }
        }

        &:first-child {
            button{
                margin-right: 50px;
            }
        }

        &:last-child {
            button{
                margin-left: 50px;
            }
        }
    }
}