.sign {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 40;

    &__item {
        background-color: white;
        width: 150px;
        height: 50px;
        box-shadow: var(--box-shadow-1);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3C5A99;
        font-weight: bold;

        &--left {
            border-bottom-right-radius: 100vh;
            padding-right: 25px;

            @media screen and (min-width: 992px) and (max-width:1200px) {
                padding-right: 15px;
            }
        }

        &--right {
            border-bottom-left-radius: 100vh;
            padding-left: 25px;
            cursor: pointer;

            @media screen and (min-width: 992px) and (max-width:1200px) {
                padding-left: 15px;
            }
        }

        @media screen and (min-width: 992px) and (max-width:1200px) {
            width: 95px;
            height: 30px;
        }
    }
}

.form {
    width: 100%;
    z-index: 30;
    height: 100vh;
    background-color: white;
    overflow: hidden;

    &__bg {
        position: absolute;
        bottom: 0;
        overflow: hidden;

        svg {
            width: 100%;
            margin-bottom: -20px;
        }
    }

    &__svg {
        &--cloud-1 {
            position: absolute;
            top: 5%;
            left: 10%;
            animation: cloud 20s infinite ease-in-out;
        }

        &--cloud-2 {
            position: absolute;
            top: 20%;
            left: 15%;
            animation: cloud 20s infinite 2s ease-in-out;
        }

        &--cloud-3 {
            position: absolute;
            top: 5%;
            right: 10%;
            animation: cloud 20s infinite 1s ease-in-out;
        }

        &--cloud-4 {
            position: absolute;
            top: 20%;
            right: 15%;
            animation: cloud 20s infinite 3s ease-in-out;
        }
    }

    &__form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        border-radius: 5px;
        width: 500px;
        box-shadow: var(--box-shadow-2);
        overflow: hidden;
    }
}

@keyframes cloud {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateX(90%);
    }

    100% {
        transform: translateY(0);
    }
}