.event-for-home {
    margin-bottom: 40px;

    &__title {
        margin-bottom: 25px;
    }

    button {
        margin-right: 10px;
    }

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        cursor: pointer;
        button{
            box-shadow: none;
        }
        p {
            margin: 0;
            transition: all 0.3s;
        }

        &:hover {
            p {
                color: var(--color-primary-500);
            }
        }
    }

    &__name {
        font-weight: 500;
    }
}