<div class="event-for-home">
    <div class="event-for-home__title">
        <h6>Sự kiện</h6>
    </div>
    <div class="event-for-home__item">
        <button mat-mini-fab color="primary">
            <mat-icon>today</mat-icon>
        </button>
        <div class="event-for-home__detail">
            <p class="event-for-home__name">Tham quan Khu đô thị Kỳ Co Gateway Quy Nhơn</p>
            <p><small>15 : 00 14/12/2020</small></p>
        </div>
    </div>
    <div class="event-for-home__item">
        <button mat-mini-fab color="primary">
            <mat-icon>today</mat-icon>
        </button>
        <div class="event-for-home__detail">
            <p class="event-for-home__name">Tham quan Khu đô thị Kỳ Co Gateway Quy Nhơn</p>
            <p><small>15 : 00 14/12/2020</small></p>
        </div>
    </div>
</div>