<mat-expansion-panel [(expanded)]="isExpanded" class="mat-about-field">
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading"></mat-progress-bar>
    <mat-expansion-panel-header collapsedHeight="85px" expandedHeight="85px">
        <mat-panel-title>
            <p>
                <mat-icon>cake</mat-icon>
            </p>
        </mat-panel-title>
        <mat-panel-description>
            <div>
                <p>Sinh nhật vào <a>{{birthday.dd + '/' + birthday.mm + '/' + birthday.yyyy }}</a></p>
            </div>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="birthDayForm">
        <div>
            <mat-form-field appearance="legacy" class="birthday">
                <mat-label>Ngày sinh</mat-label>
                <app-birthday-input formControlName="dateOfBirth"></app-birthday-input>
                <mat-error *ngIf="birthDayForm.controls.dateOfBirth.errors?.required">Không được bỏ trống</mat-error>
            </mat-form-field>
        </div>
        <p><small>*Thông tin này luôn được công khai</small></p>
    </form>
    <div class="form-button">
        <button mat-mini-fab color="primary" aria-label="Edit" (click)="onClickEnableForm()" *ngIf="!isEnableForm">
            <mat-icon>create</mat-icon>
        </button>
        <button mat-mini-fab color="primary" aria-label="Edit" (click)="onUpdateBirthday()" *ngIf="isEnableForm"
            [disabled]="loading">
            <mat-icon>check</mat-icon>
        </button>
        <button mat-mini-fab color="warn" aria-label="Cancel" (click)="onClickCancelForm()" *ngIf="isEnableForm"
            [disabled]="loading">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</mat-expansion-panel>