<div class="message-box">
    <div class="message-box__title">
        <h6>Tin nhắn</h6>
        <button mat-icon-button (click)="onCloseBox()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="message-box__list">
        <div class="message-box__item">
            <div class="avt">
            </div>
            <div class="content">
                <p>Tiến Đạt</p>
                <p><small>Bạn: Ngày hôm qua là ngày hôm qua...</small></p>
            </div>
        </div>
    </div>
    <div class="message-box__see-all">
        <a href="">Xem tất cả</a>
    </div>
</div>