<div class="profile-video-detail-album">
    <div class="profile-video-detail-album__title">
        <h6>Đây là tên album</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt et molestias nobis dolore quae. Sed fuga
            nisi qui voluptates accusamus quod dignissimos excepturi aut magni perferendis officiis temporibus ad illo
            sit at facere praesentium velit, suscipit reprehenderit magnam autem est similique rerum repellendus!
            Repudiandae, excepturi exercitationem? Quia nisi veritatis harum.</p>

        <div class="profile-video-detail-album__description">
            <div>
                <p>98 ảnh</p>
            </div>
            <div>
                <button mat-mini-fab color="primary">
                    <mat-icon>public</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="profile-video-detail-album__video" *ngIf="videos.length!==0; else skeleton">
        <div class="profile-video-detail-album__item" *ngFor="let video of videos">
            <img [src]="video.Source" alt="Ảnh" />
            <div class="time">{{video.MediaInfo.Time}}</div>
            <div class="video-info">
                <div>
                    <button mat-button>
                        <mat-icon>thumb_up</mat-icon>
                        <small>{{video.MediaInfo.QuantityLike | quantity}}</small>
                    </button>
                    <button mat-button>
                        <mat-icon>chat_bubble</mat-icon>
                        <small>{{video.MediaInfo.QuantityComment | quantity}}</small>
                    </button>
                    <button mat-button>
                        <mat-icon>remove_red_eye</mat-icon>
                        <small>{{video.MediaInfo.QuantityShare | quantity}}</small>
                    </button>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onClickOpenDialogDeletePhoto()">
                            <mat-icon>delete</mat-icon>
                            <span>Xóa ảnh</span>
                        </button>
                    </mat-menu>
                </div>
                <div>
                    <p>{{video.MediaInfo.getTime}}</p>
                    <h6>{{video.MediaInfo.Content | content: 15}}</h6>
                </div>
            </div>
        </div>
    </div>
    <ng-template #skeleton>
        <div class="profile-video-detail-album__video">
            <div class="profile-video-detail-album__item skeleton"></div>
            <div class="profile-video-detail-album__item skeleton"></div>
        </div>
    </ng-template>
</div>