<div class="row all-friend" *ngIf="(allFriends$ | async) as allFriends; else skeleton">
    <ng-container *ngIf="allFriends.length>0;else noUser">
        <div class="col-6" *ngFor="let allFriend of allFriends">
            <app-friend-field [user]="allFriend" option="allFriendPersonal" [userId]="userId"></app-friend-field>
        </div>
    </ng-container>
    <ng-template #noUser>
        <p>Không có bạn bè nào.</p>
    </ng-template>
</div>
<ng-template #skeleton>
    <div class="row">
        <div class="col-6">
            <div class="about-field-skeleton skeleton"></div>
        </div>
        <div class="col-6">
            <div class="about-field-skeleton skeleton"></div>
        </div>
    </div>
</ng-template>