<div class="photos">
    <div class="">
        <button mat-button [routerLink]="['/home/personal/user/photo/all']" routerLinkActive="active">Ảnh được đăng
            tải</button>
        <button mat-button [routerLink]="['/home/personal/user/photo/album']" routerLinkActive="active">Album
            <small>(2)</small></button>
    </div>
    <div class="">
        <button mat-button (click)="onClickOpenDialogUpPhoto()">Thêm ảnh</button>
        <button mat-button (click)="onClickOpenDialogUpAlbum()">Thêm album</button>
    </div>
</div>
<router-outlet></router-outlet>