<div class="message-chat">
    <div class="message-chat__search">
        <mat-form-field appearance="legacy" class="mat-input-full-width">
            <input matInput placeholder="Tìm kiếm cuộc trò chuyện">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <h5>Inbox</h5>
    <div class="message-chat__group">
        <button mat-button class="active" matBadge="4"><small>Tin nhắn</small></button>
        <button mat-button><small>Nhóm</small></button>
        <button mat-button><small>Tin nhắn chờ</small></button>
    </div>
    <div class="message-chat__list">
        <div class="message-chat__item active">
            <div>
                <div class="message-chat__avatar">
                    <img src="../../../../../assets/images/duy.jpg" alt="">
                    <div class="message-chat__online"></div>
                </div>
                <div class="message-chat__content">
                    <p>Hiệp nguyễn</p>
                    <p><small>Đang làm gì đấy...</small></p>
                </div>
            </div>
            <div>
                <p><small>20 : 20</small></p>
                <div class="message-chat__new"></div>
            </div>
        </div>
        <div class="message-chat__item">
            <div>
                <div class="message-chat__avatar">
                    <img src="../../../../../assets/images/duy.jpg" alt="">
                    <div class="message-chat__online"></div>
                </div>
                <div class="message-chat__content">
                    <p>Hiệp nguyễn</p>
                    <p><small>Đang làm gì đấy...</small></p>
                </div>
            </div>
            <div>
                <p><small>20 : 20</small></p>
                <div class="message-chat__new"></div>
            </div>
        </div>
        <div class="message-chat__item">
            <div>
                <div class="message-chat__avatar">
                    <img src="../../../../../assets/images/duy.jpg" alt="">
                    <div class="message-chat__online"></div>
                </div>
                <div class="message-chat__content">
                    <p>Hiệp nguyễn</p>
                    <p><small>Đang làm gì đấy...</small></p>
                </div>
            </div>
            <div>
                <p><small>20 : 20</small></p>
                <div class="message-chat__new"></div>
            </div>
        </div>
        <div class="message-chat__item">
            <div>
                <div class="message-chat__avatar">
                    <img src="../../../../../assets/images/duy.jpg" alt="">
                    <div class="message-chat__online"></div>
                </div>
                <div class="message-chat__content">
                    <p>Hiệp nguyễn</p>
                    <p><small>Đang làm gì đấy...</small></p>
                </div>
            </div>
            <div>
                <p><small>20 : 20</small></p>
                <div class="message-chat__new"></div>
            </div>
        </div>
    </div>
</div>