.chat-view {
    background-color: var(--color-background-secondary);
    height: 100%;
    padding: 20px 40px;
    display: grid;
    grid-template-rows: 70px 700px auto;
    grid-row-gap: 10px;

    &__title {
        background-color: var(--color-background-primary);
        color: var(--color-background-contrast-primary);
        box-shadow: var(--box-shadow-1);
        padding: 0 20px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;

        mat-form-field {
            width: 400px;
        }

        &>div {
            display: flex;
            align-items: center;
        }

        h6,
        p {
            margin: 0;
        }

        h6 {
            font-weight: 500;
        }

        p {
            color: var(--color-opacity-primary);
            margin-right: 20px;
        }
    }

    &__avatar {
        height: 50px;
        width: 50px;
        margin-right: 20px;

        img {
            border-radius: 50%;
        }
    }

    &__content {
        overflow-y: auto;
        padding: 0 10px;

        .spinner {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    &__text {
        display: flex;
        padding: 10px 0;

        p {
            margin: 0;
            max-width: 40%;
            padding: 0 10px;
            border-radius: 5px;
        }

        &--own {
            justify-content: flex-end;

            p {
                background-color: var(--color-primary-500);
                color: var(--color-primary-contrast-500);
            }
        }

        &--user {
            justify-content: flex-start;

            &>div {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-image: url('../../../../../assets/images/duy.jpg');
                background-size: cover;
                background-position: center;
                margin-right: 10px;
            }

            p {
                background-color: var(--color-background-third);
                color: var(--color-background-third-contrast);

            }
        }
    }

    &__feature {
        display: flex;
        align-items: flex-end;

        textarea {
            width: 100%;
            border: none;
            background-color: var(--color-background-third);
            padding: 10px 20px;
            border-radius: 5px;
            margin: 0 10px;

            &:focus {
                outline: none;
            }
        }
    }
}